<style>
  .tabulator .tabulator-header .tabulator-col {
    padding: 10px 0px !important;
  }
  .container-fluid .subject {
    margin: 10px 20px;
    padding: 0px;
  }
  .container-fluid .notification {
    color: red;
    margin: 0px 40px;
    padding: 0px;
    height: 30px;
  }
  .container-fluid .input {
    border: 2px solid #ccc;
    margin: 0px 40px 40px 40px;
    padding: 20px 0px 10px 50px;
    width: 1000px;
  }
  .container-fluid .list {
    margin: 0px 20px 10px 20px;
    padding: 0px;
  }
</style>

<script type="text/javascript">
  var feature_data = [
    {scope_type:"B", scope:"AJI001", feature_key:"共通/メニュー（menuModule）", value_from:"CNSL", value_to:"CNSL_RICOH"},
    {scope_type:"C", scope:"699999 APMRO株式会社", feature_key:"共通/メニュー（menuModule）", value_from:"CNSL", value_to:""},
    {scope_type:"S", scope:"310026 三菱地所事業所", feature_key:"検索/検索エンジンURL（catalog.apf.url）", value_from:"feature:.exmg", value_to:"feature:.nexmg"},
    {scope_type:"S", scope:"310033 味の素事業所", feature_key:"パンチアウト接続先リスト（opoutAllowCatalogList）", value_from:"MRZ_POUT\nRS_POUT_SEI\nC1S_POUT_SEI\nMISUMI_POUT_SEI\nBC_POUT_SEI\nKNGCP_POUT_SEI\nKNKY_POUT\nAMZ_POUT\nTSH_POUT", value_to:"MRZ_POUT\nRS_POUT_SEI\nC1S_POUT_SEI\nMISUMI_POUT_SEI\nBC_POUT_SEI\nKNGCP_POUT_SEI\nKNKY_POUT\nAMZ_POUT\nTSH_POUT_SEI"},
    {scope_type:"U", scope:"310033-GUEST-001", feature_key:"発注/お気に入り（favorite）", value_from:"Y", value_to:"N"},
  ];

  var feature_columns = [
    {title:"スコープ", field:"scope", align:"left", width:300, formatter:function(cell) {
      var data = cell.getRow().getData();
      if (data.scope_type == "B") return "<span class='font buyers'>バイヤーズグループ</span>&nbsp;&nbsp;" + data.scope;
      if (data.scope_type == "C") return "<span class='font customer'>バイヤ</span>&nbsp;&nbsp;" + data.scope;
      if (data.scope_type == "S") return "<span class='font site'>事業所</span>&nbsp;&nbsp;" + data.scope;
      if (data.scope_type == "U") return "<span class='font user'>ユーザー</span>&nbsp;&nbsp;" + data.scope;
    }},
    {title:"機能パラメータキー", field:"feature_key", align:"left", width:400},
    {title:"設定値（変更前）", field:"value_from", align:"left", width:300, formatter:function(cell) {
      var data = cell.getRow().getData();
      var value = data.value_from.replace(/\n/g, "<br>\n");
      return "<div class='val'>" + value + "</div>";
    }},
    {title:"設定値（変更後）", field:"value_to", align:"left", width:300, formatter:function(cell) {
      var data = cell.getRow().getData();
      var value = data.value_to.replace(/\n/g, "<br>\n");
      return "<div class='val'>" + value + "</div>";
    }},
  ];

  var table;
  var create_table = function() {
    table = new Tabulator("#feature-table", {
      data: feature_data,
      columns: feature_columns,
      tooltips: true,
      selectable: false,
    });
  };

  var create_request = function() {
    if (confirm("機能パラメータの登録依頼を作成します。宜しいですか？")) {
      $("#message").text("新規依頼を作成しました。（依頼ID：1840400）");
      $("#btnCreateRequest").addClass("invisible");
    }
  }

  $(function() {
    create_table();
  });
</script>

<!-- container-fluid -->
<div class="container-fluid">

<!-- subject -->
<div class="subject">
  <div class="row">
    <p class="h1">機能パラメータ登録依頼</p>
    <div class="col-auto ml-sm-auto">
    <button type="button" class="btn btn-outline-primary" id="btnCreateRequest" onclick="javascript: create_request();">依頼作成</button>
    <button type="button" class="btn btn-outline-secondary" onclick="javascript: window.close();">閉じる</button>
    </div>
  </div>
</div>

<!-- notification -->
<div class="notification">
  <span id="message"></span>
</div>

<!-- input area -->
<div class="input">
  <form id="frmInput" name="frmInput" method="post" action="" accept-charset="UTF-8">
  <div class="row">
    <div class="col-5 py-1">
      <div style="height:4px"></div>
      <div class="form-group">
      <label for="txtUser">依頼者</label>
      <input type="text" class="form-control form-control-sm" id="txtUser" value="田口" readonly>
      </div>
      <div class="form-group">
      <label for="txtEmail">メールアドレス</label>
      <input type="text" class="form-control form-control-sm" id="txtEmail" value="m.taguchi@atc-kk.jp">
      </div>
      <div class="form-group">
      <label for="txtPrevDate">プレビュー反映日</label>
      <div class="form-inline">
      <input type="text" class="form-control form-control-sm date datepicker-here" data-timepicker="true" data-language="en" id="txtPrevDate">&nbsp;&nbsp;
      <button type="button" class="btn sm btn-outline-info" onclick="javascript: set_current_datetime('txtPrevDate');">即時</button>
      </div>
      </div>
    </div>
    <div class="col-6 py-2">
      <div class="form-group">
      <label for="txtFeatureGroup">機能グループ</label>
      <input type="text" class="form-control form-control-sm" id="txtFeatureGroup" value="ENDECA新規設定" readonly>
      </div>
      <div class="form-group">
      <label for="txtBuyersGroup">バイヤーズグループ</label>
      <input type="text" class="form-control form-control-sm" id="txtBuyersGroup" value="AJI001" readonly>
      </div>
      <div class="form-group">
      <label for="txtComment">コメント</label>
      <input type="text" class="form-control form-control-sm" id="txtComment">
      </div>
    </div>
  </div>
  </form>
</div>

<!-- list area -->
<div class="list">
  <div class="row">
    <div id="feature-table"></div>
  </div>
</div>

</div>
<!-- /container-fluid -->
