<style>
  .tabulator .tabulator-header .tabulator-col {
    padding: 10px 0px !important;
  }
  .container-fluid .subject {
    margin: 10px 20px;
    padding: 0px;
  }
  .container-fluid .notification {
    color: red;
    margin: 0px 40px;
    padding: 0px;
    height: 30px;
  }
  .container-fluid .input {
    border: 2px solid #ccc;
    margin: 0px 40px 40px 40px;
    padding: 20px 0px 10px 50px;
    width: 1000px;
  }
  .container-fluid .operation {
    margin: 10px 20px;
    padding: 0px;
  }
  .container-fluid .list {
    margin: 0px 20px 10px 20px;
    padding: 0px;
  }
</style>

<script type="text/javascript">
  var feature_data = [
    {scope_type:"B", scope:"AJI001", feature_key:"共通/メニュー（menuModule）", value_from:"CNSL", value_to:"CNSL_RICOH", value_now:"CNSL_RICOH"},
    {scope_type:"C", scope:"699999 APMRO株式会社", feature_key:"共通/メニュー（menuModule）", value_from:"CNSL", value_to:"", value_now:""},
    {scope_type:"S", scope:"310026 三菱地所事業所", feature_key:"検索/検索エンジンURL（catalog.apf.url）", value_from:"feature:.exmg", value_to:"feature:.nexmg", value_now:"feature:.oexmg"},
    {scope_type:"S", scope:"310033 味の素事業所", feature_key:"発注/お気に入り（favorite）", value_from:"MRZ_POUT\nRS_POUT_SEI\nC1S_POUT_SEI\nMISUMI_POUT_SEI\nBC_POUT_SEI\nKNGCP_POUT_SEI\nKNKY_POUT\nAMZ_POUT\nTSH_POUT", value_to:"MRZ_POUT\nRS_POUT_SEI\nC1S_POUT_SEI\nMISUMI_POUT_SEI\nBC_POUT_SEI\nKNGCP_POUT_SEI\nKNKY_POUT\nAMZ_POUT\nTSH_POUT_SEI", value_now:"MRZ_POUT\nRS_POUT_SEI\nC1S_POUT_SEI\nMISUMI_POUT_SEI\nBC_POUT_SEI\nKNGCP_POUT_SEI\nKNKY_POUT\nAMZ_POUT\nTSH_POUT_SEI"},
    {scope_type:"U", scope:"310033-GUEST-001", feature_key:"発注/お気に入り（favorite）", value_from:"Y", value_to:"N", value_now:"Y"},
  ];

  var feature_columns = [
    {title:"スコープ", field:"scope", align:"left", width:300, formatter:function(cell) {
      var data = cell.getRow().getData();
      if (data.scope_type == "B") return "<span class='font buyers'>バイヤーズグループ</span>&nbsp;&nbsp;" + data.scope;
      if (data.scope_type == "C") return "<span class='font customer'>バイヤ</span>&nbsp;&nbsp;" + data.scope;
      if (data.scope_type == "S") return "<span class='font site'>事業所</span>&nbsp;&nbsp;" + data.scope;
      if (data.scope_type == "U") return "<span class='font user'>ユーザー</span>&nbsp;&nbsp;" + data.scope;
    }},
    {title:"機能パラメータキー", field:"feature_key", align:"left", width:400},
    {title:"設定値（変更前）", field:"value_from", align:"left", width:300, formatter:function(cell) {
      var data = cell.getRow().getData();
      var value = data.value_from.replace(/\n/g, "<br>\n");
      return "<div class='val'>" + value + "</div>";
    }},
    {title:"設定値（変更後）", field:"value_to", align:"left", width:300, formatter:function(cell) {
      var data = cell.getRow().getData();
      var value = data.value_to.replace(/\n/g, "<br>\n");
      return "<div class='val'>" + value + "</div>";
    }},
  ];

  var rollback_columns = [
    {title:"選択", field:"", align:"center", width:20, headerSort:false, formatter:function(cell) {
      var data = cell.getRow().getData();
      var changed = (data.value_to == data.value_now) ? "" : "changed";
      return "<input type='checkbox' class='select " + changed + "' id='chkTarget-" + data.scope_code + "' checked>";
    }},
    {title:"スコープ", field:"scope", align:"left", width:300, formatter:function(cell) {
      var data = cell.getRow().getData();
      if (data.scope_type == "B") return "<span class='font buyers'>バイヤーズグループ</span>&nbsp;&nbsp;" + data.scope;
      if (data.scope_type == "C") return "<span class='font customer'>バイヤ</span>&nbsp;&nbsp;" + data.scope;
      if (data.scope_type == "S") return "<span class='font site'>事業所</span>&nbsp;&nbsp;" + data.scope;
      if (data.scope_type == "U") return "<span class='font user'>ユーザー</span>&nbsp;&nbsp;" + data.scope;
    }},
    {title:"機能パラメータキー", field:"feature_key", align:"left", width:400},
    {title:"設定値（本番反映直前）", field:"value_from", align:"left", width:300, formatter:function(cell) {
      var data = cell.getRow().getData();
      var value = data.value_from.replace(/\n/g, "<br>\n");
      return "<div class='val'>" + value + "</div>";
    }},
    {title:"設定値（変更後）", field:"value_to", align:"left", width:300, formatter:function(cell) {
      var data = cell.getRow().getData();
      var value = data.value_to.replace(/\n/g, "<br>\n");
      return "<div class='val'>" + value + "</div>";
    }},
    {title:"設定値（現在）", field:"value_now", align:"left", width:300, formatter:function(cell) {
      var data = cell.getRow().getData();
      var value_to = data.value_to.replace(/\n/g, "<br>\n");
      var value_now = data.value_now.replace(/\n/g, "<br>\n");
      var value = (value_to == value_now) ? value_now : "<span class='font accent'>" + value_now + "</span>";
      return "<div class='val'>" + value + "</div>";
    }},
  ];

  var table;
  var create_table = function() {
    table = new Tabulator("#feature-table", {
      data: feature_data,
      columns: feature_columns,
      tooltips: true,
      selectable: false,
    });
  };

  var create_rollback_table = function() {
    table = new Tabulator("#feature-table", {
      data: feature_data,
      columns: rollback_columns,
      tooltips: true,
      selectable: false,
    });
  };

  var show_status_detail = function() {
    alert("登録依頼（2019/12/21 17:10 田口）\r\nプレビュー反映（2019/12/22 16:30 田口）\r\n本番反映（2019/12/22 16:30 上長太郎）");
  }

  var edit_feature = function() {
    if (confirm("機能パラメータ一覧画面に移動して設定値の編集を行います。宜しいですか？")) {
      location.href = "/feature_list/index?id=<%= @id %>&status=<%= @status %>";
    }
  }

  var prev_date = "";
  var comment = "";
  var edit_request = function() {
    prev_date = $("#txtPrevDate").val();
    comment = $("#txtComment").val();
    $("#txtPrevDate").prop("readonly", false);
    $("#txtComment").prop("readonly", false);
    $("#btnPrevNow").removeClass("invisible");
    $("#btnProdRelease").addClass("invisible");
    $("#btnEditFeature").addClass("invisible");
    $("#btnEditRequest").addClass("invisible");
    $("#btnCancelRequest").addClass("invisible");
    $("#btnSaveEdit").removeClass("invisible");
    $("#btnCancelEdit").removeClass("invisible");
    $("#message").text("");
  }

  var cancel_request = function() {
    if (confirm("依頼取消を行います。宜しいですか？")) {
      $("#btnEditFeature").addClass("invisible");
      $("#btnEditRequest").addClass("invisible");
      $("#btnCancelRequest").addClass("invisible");
      $("#btnProdRelease").addClass("invisible");
      $("#status").text("依頼取消済");
      $("#message").text("依頼を取り消しました。")
    }
  }

  var save_edit = function() {
    if (confirm("編集内容を保存します。宜しいですか？")) {
      $("#txtPrevDate").prop("readonly", true);
      $("#txtComment").prop("readonly", true);
      $("#btnPrevNow").addClass("invisible");
      $("#btnProdRelease").removeClass("invisible");
      $("#btnEditFeature").removeClass("invisible");
      $("#btnEditRequest").removeClass("invisible");
      $("#btnCancelRequest").removeClass("invisible");
      $("#btnSaveEdit").addClass("invisible");
      $("#btnCancelEdit").addClass("invisible");
      $("#message").text("");
    }
  }

  var cancel_edit = function() {
    $("#txtPrevDate").val(prev_date);
    $("#txtComment").val(comment);
    $("#txtPrevDate").prop("readonly", true);
    $("#txtComment").prop("readonly", true);
    $("#btnPrevNow").addClass("invisible");
    $("#btnProdRelease").removeClass("invisible");
    $("#btnEditFeature").removeClass("invisible");
    $("#btnEditRequest").removeClass("invisible");
    $("#btnCancelRequest").removeClass("invisible");
    $("#btnSaveEdit").addClass("invisible");
    $("#btnCancelEdit").addClass("invisible");
    $("#message").text("");
  }

  var prod_release = function() {
    $("#subject").text("本番反映日の設定");
    $("#btnProdRelease").addClass("invisible");
    $("#btnEditFeature").addClass("invisible");
    $("#btnEditRequest").addClass("invisible");
    $("#btnCancelRequest").addClass("invisible");
    $("#btnExecuteRelease").removeClass("invisible");
    $("#btnCancelExecute").removeClass("invisible");
    $("body").addClass("prod-release");
    $("button").addClass("prod-release");
    $("#txtProdDate").prop("readonly", false);
    $("#btnProdNow").removeClass("invisible");
    $("#message").text("");
  }

  var prod_rollback = function() {
    $("#subject").text("本番反映の切り戻し");
    $("#btnProdRollback").addClass("invisible");
    $("#btnExecuteRollback").removeClass("invisible");
    $("#btnCancelExecute").removeClass("invisible");
    $(".operation").removeClass("invisible");
    $("body").addClass("prod-rollback");
    $("button").addClass("prod-rollback");
    $("#message").text("設定値が本番反映後から変更されています。切り戻し対象を選択してください。");
    create_rollback_table();
  }

  var execute_release = function() {
    var prod_release_date = $("#txtProdDate").val();
    if (confirm("本番反映日を " + prod_release_date + " に設定します。宜しいですか？")) {
      cancel_execute();
      $("#message").text("本番反映日を設定しました。");
    }
  }

  var execute_rollback = function() {
    if (confirm("本番反映された設定値の切り戻しを行います。宜しいですか？")) {
      cancel_execute();
      $("#btnProdRollback").addClass("invisible");
      $("#status").text("依頼切り戻し済");
      $("#message").text("設定値の切り戻しを行いました。");
    }
  }

  var cancel_execute = function() {
    $("#subject").text("依頼詳細");
    $("#btnProdRelease").removeClass("invisible");
    $("#btnProdRollback").removeClass("invisible");
    $("#btnEditFeature").removeClass("invisible");
    $("#btnEditRequest").removeClass("invisible");
    $("#btnCancelRequest").removeClass("invisible");
    $("#btnExecuteRelease").addClass("invisible");
    $("#btnExecuteRollback").addClass("invisible");
    $("#btnCancelExecute").addClass("invisible");
    $(".operation").addClass("invisible");
    $("body").removeClass("prod-release");
    $("body").removeClass("prod-rollback");
    $("button").removeClass("prod-release");
    $("button").removeClass("prod-rollback");
    $("#txtProdDate").prop("readonly", true);
    $("#btnProdNow").addClass("invisible");
    $("#message").text("");
    create_table();
  }

  var request = function() {
    if (confirm("新規依頼を作成して現在の編集内容をコピーします。宜しいですか？")) {
      $("#message").text("新規依頼を作成しました。（依頼ID：1840400）");
    }
  }

  var select_list = function(type) {
    if (type == "all") {
      $(".list .select").prop("checked", true);
    } else if (type == "none") {
      $(".list .select").prop("checked", false);
    } else if (type == "changed") {
      $(".list .select").prop("checked", false);
      $(".list .select.changed").prop("checked", true);
    }
  }

  var close_window = function() {
    window.close();
  }

  $(function() {
    create_table();
    set_status_name("status", "<%= @status %>");
  });
</script>

<!-- container-fluid -->
<div class="container-fluid">

<!-- subject -->
<div class="subject">
  <div class="row">
    <p class="h1" id="subject">依頼詳細</p>&nbsp;&nbsp;&nbsp;&nbsp;
    <% if @status == 'request' || @status == 'prev_released' %>
    <button type="button" class="btn btn-outline-danger" id="btnProdRelease" onclick="javascript: prod_release();">本番反映日の設定</button>
    <% end %>
    <% if @status == 'prod_released' %>
    <button type="button" class="btn btn-outline-danger" id="btnProdRollback" onclick="javascript: prod_rollback();">本番反映の切り戻し</button>
    <% end %>
    <div class="col-auto ml-sm-auto">
    <% if @status == 'request' || @status == 'prev_released' %>
    <button type="button" class="btn btn-outline-primary" id="btnEditFeature" onclick="javascript: edit_feature();">設定値編集</button>
    <button type="button" class="btn btn-outline-primary" id="btnEditRequest" onclick="javascript: edit_request();">依頼編集</button>
    <button type="button" class="btn btn-outline-primary" id="btnCancelRequest" onclick="javascript: cancel_request();">依頼取消</button>
    <button type="button" class="btn btn-outline-primary invisible" id="btnSaveEdit" onclick="javascript: save_edit();">保存</button>
    <button type="button" class="btn btn-outline-secondary invisible" id="btnCancelEdit" onclick="javascript: cancel_edit();">キャンセル</button>
    <% end %>
    <% if @status == 'canceled' || @status == 'rollback' %>
    <button type="button" class="btn btn-outline-primary" id="btnRequest" onclick="javascript: request();">再依頼</button>
    <% end %>
    <button type="button" class="btn btn-outline-danger invisible" id="btnExecuteRelease" onclick="javascript: execute_release();">設定</button>
    <button type="button" class="btn btn-outline-danger invisible" id="btnExecuteRollback" onclick="javascript: execute_rollback();">実行</button>
    <button type="button" class="btn btn-outline-secondary invisible" id="btnCancelExecute" onclick="javascript: cancel_execute();">キャンセル</button>
    <button type="button" class="btn btn-outline-secondary" id="btnClose" onclick="javascript: close_window();">閉じる</button>
    </div>
  </div>
</div>

<!-- notification -->
<div class="notification">
  <span id="message"></span>
</div>

<!-- input area -->
<div class="input">
  <form id="frmInput" name="frmInput" method="post" action="" accept-charset="UTF-8">
  <div class="row">
    <div class="col-5 py-1">
      <div style="height:8px"></div>
      <div class="form-group">
      <label for="txtRequestId">依頼ID：</label>
      <span><%= @id %></span>
      </div>
      <div class="form-group">
      <label for="txtFeatureGroup">機能グループ：</label>
      <span>インバウンドパンチアウト</span>
      </div>
      <div class="form-group">
      <label for="txtBuyersGroup">バイヤーズグループ：</label>
      <span>AJI001</span>
      </div>
      <div class="form-group">
      <label for="txtAnotherTask">付随作業：</label>
      <span>B2Bルックアップ登録</span>
      </div>
      <div class="form-group">
      <label for="txtStatus">ステータス：</label>
      <span id="status"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn ss btn-outline-info" style="position: relative; top:-2px;" onclick="javascript: show_status_detail();">詳細</button>
      </div>
    </div>
    <div class="col-6 py-2">
      <div class="form-group">
      <label for="txtPrevDate">プレビュー反映日</label>
      <div class="form-inline">
      <input type="text" class="form-control form-control-sm date datepicker-here" data-timepicker="true" data-language="en" id="txtPrevDate" value="2019/12/22 16:30" readonly>&nbsp;&nbsp;
      <button type="button" class="btn sm btn-outline-info invisible" id="btnPrevNow" onclick="javascript: set_current_datetime('txtPrevDate');">即時</button>
      </div>
      </div>
      <div class="form-group">
      <label for="txtProdDate">本番反映日</label>
      <div class="form-inline">
      <input type="text" class="form-control form-control-sm date datepicker-here" data-timepicker="true" data-language="en" id="txtProdDate" value="2019/12/22 16:30" readonly>&nbsp;&nbsp;
      <button type="button" class="btn sm btn-outline-info invisible" id="btnProdNow" onclick="javascript: set_current_datetime('txtProdDate');">即時</button>
      </div>
      </div>
      <div class="form-group">
      <label for="txtComment">コメント</label>
      <input type="text" class="form-control form-control-sm" id="txtComment" value="SPパンチアウト設定追加" readonly>
      </div>
    </div>
  </div>
  </form>
</div>

<!-- operation area -->
<div class="operation invisible">
  <div class="row">
    <button type="button" class="btn ss btn-outline-info" onclick="javascript: select_list('all');">全選択</button>&nbsp;&nbsp;
    <button type="button" class="btn ss btn-outline-info" onclick="javascript: select_list('none');">全解除</button>
    <div class="col-auto ml-sm-auto">
    <button type="button" class="btn ss btn-outline-info" onclick="javascript: select_list('changed');">変更されている設定値のみ表示</button>
    </div>
  </div>
</div>

<!-- list area -->
<div class="list">
  <div class="row">
    <div id="feature-table"></div>
  </div>
</div>

<!-- operation area -->
<div class="operation invisible">
  <div class="row">
    <button type="button" class="btn ss btn-outline-info" onclick="javascript: select_list('all');">全選択</button>&nbsp;&nbsp;
    <button type="button" class="btn ss btn-outline-info" onclick="javascript: select_list('none');">全解除</button>
    <div class="col-auto ml-sm-auto">
    <button type="button" class="btn ss btn-outline-info" onclick="javascript: select_list('changed');">変更されている設定値のみ表示</button>
    </div>
  </div>
</div>

</div>
<!-- /container-fluid -->
