<h1>ZnCusCustomers#show</h1>
<p>Find me in app/views/zn_cus_customers/show.html.erb</p>
<p>
<% @customers.each do |customer| %>
  <%= customer.customer_code %> - <%= customer.customer_name %><br>
<% end %>
</p>

