<h1>ZnCusScopedFeatures#show</h1>
<p>Find me in app/views/zn_cus_scoped_features/show.html.erb</p>
<p>
<% @zn_features.each do |feature| %>
  <%= feature.scope_value %> - <%= feature.value %><br>
<% end %>
</p>
