<h1>ApScopedFeatures#show</h1>
<p>Find me in app/views/ap_scoped_features/show.html.erb</p>
<p>
<% @ap_features.each do |feature| %>
  <%= feature.scope_value %> - <%= feature.value %><br>
<% end %>
</p>

