<div class="header">
  <div class="row">
	  <div class="col-auto">
    <span class="logo">AFM</span>
    </div>
	  <div class="col-auto ml-sm-auto navi">
    <a href="javascript:void(0)" class="font index" onclick="location.href='/feature_list/show'">機能パラメータ一覧</a>&nbsp;&nbsp;&nbsp;
    <span class="font index">|</span>&nbsp;&nbsp;
    <a href="javascript:void(0)" class="font index" onclick="location.href='/request_history/show'">依頼履歴</a>
    </div>
  </div>
</div>