<h1>ZnCusCustomerSites#show</h1>
<p>Find me in app/views/zn_cus_customer_sites/show.html.erb</p>
<p>
<% @customer_sites.each do |site| %>
  <%= site.site_code %> - <%= site.site_name %><br>
<% end %>
</p>
